body {
  font-family: "Montserrat", sans-serif;
}

.bodycontenido {
  margin: 2%;
}

.bodycontenidoportafolio {
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.h3titulo {
  margin-top: 30px;
}

.navbar {
  background-color: #1f212a;
}

.navbar-brand {
  font-size: 30px;
}

.lateral {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.imagenlateral {
  width: 20%;
  height: 20%;
  margin-right: 4%;
}

hr {
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

.educacion {
  justify-content: center;
}

.card {
  margin-left: 1%;
  margin-right: 1%;
}

.accordion-collapse {
  font-size: 14px;
}

.row {
  align-items: center;
  justify-content: center;
}

.img-fluid {
  margin: 15px;
  width: 100px;
}

.col {
  margin: 15px;
}

.accordion-item {
  justify-content: center;
}

.educacion {
  display: flex;
}

.laboral {
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  height: 100px;
  background-color: #1f212a;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}
.parrafocierre {
  padding-top: 15px;
}

.titulocarrusel {
  background-color: #1f212a;
  color: white;
}

.parrafocarrusel {
  background-color: #1f212a;
  color: white;
}
